@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "PP Pangram Sans Rounded";
    src: url("/fonts/PPPangramSansRounded-Bold.otf") format("otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-display: "PP Pangram Sans Rounded", sans-serif;
    --font-body: "IBM Plex Sans", monospace;
}
