@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/typography';


@font-face {
    font-family: "PP Pangram Sans Rounded";
    src: url("/fonts/PPPangramSansRounded-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-display: "PP Pangram Sans Rounded", sans-serif;
    --font-body: "IBM Plex Sans", monospace;
}
